<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maso的萬事屋LINEBOT範例</title>
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script>
        function liff_getOS() {
            var OS = liff.getOS();
            alert(OS);
        }

        function liff_getLanguage() {
            var Language = liff.getLanguage();
            alert(Language);
        }

        function liff_getVersion() {
            var Version = liff.getVersion();
            alert(Version);
        }

        function liff_getLineVersion() {
            var LineVersion = liff.getLineVersion();
            alert(LineVersion);
        }

        function liff_isInClient() {
            var InClient = liff.isInClient();
            if (InClient != true) {
                alert("未使用LIFF瀏覽器");
            } else {
                alert("已使用LIFF瀏覽器");
            }
        }

        function liff_isLoggedIn() {
            var isLoggedIn = liff.isLoggedIn();
            if (isLoggedIn != true) {
                alert("未登入LINE");
            } else {
                alert("已登入LINE");
            }
        }

        function liff_isApiAvailable() {
            var isApiAvailable = liff.isApiAvailable('shareTargetPicker');
            alert(isApiAvailable);
        }




        $(document).ready(function() {
            var liffId = '1655997438-X8vP2vQB';
            liff.init({
                liffId
            })
        })
    </script>
</head>

<body>
    <h1>Maso的萬事屋LINEBOT範例，使用到以下套件</h1>
    <ul>
        <li>Flask: 一個使用Python編寫的輕量級Web應用框架。</li>
        <li>line-bot-sdk: 一個基於Python的SDK，可用於呼叫LINE BOT API。</li>
    </ul>

    <button onclick="liff_getOS()">顯示使用者操作系統</button>
    <button onclick="liff_getLanguage()">顯示使用者語言</button>
    <button onclick="liff_getVersion()">顯示LIFF SDK版本</button>
    <button onclick="liff_getLineVersion()">顯示LINE版本</button>
    <button onclick="liff_isInClient()">顯示是否在LIFF瀏覽器內</button>
    <button onclick="liff_isLoggedIn()">顯示是否登入LINE</button>
    <button onclick="liff_isApiAvailable()">顯示是否此網頁可用liff.shareTargetPicker() API</button>

</body>

</html>