<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maso的萬事屋LINEBOT範例</title>
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var liffId = '1655997438-X8vP2vQB';
            liff.init({
                liffId
            })
        })

        liff.ready.then(() => {
            //pass
            function liff_getOS() {
                var OS = liff.getOS();
                alert(OS);
            }
        })
    </script>
</head>

<body>
    <h1>Maso的萬事屋LINEBOT範例，使用到以下套件</h1>
    <ul>
        <li>Flask: 一個使用Python編寫的輕量級Web應用框架。</li>
        <li>line-bot-sdk: 一個基於Python的SDK，可用於呼叫LINE BOT API。</li>
    </ul>

    <button onclick="liff_getOS()">顯示操作系統</button>

</body>

</html>