<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maso的萬事屋LINEBOT範例</title>
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script>
        //==========================LIFF API初始化================================
        $(document).ready(function() {
            liff.init({liffId:'1655997438-X8vP2vQB'});
        });
        //==========================LIFF API初始化================================

        function liff_getOS() {
            var OS = liff.getOS();
            alert(OS);
        }

        function liff_getLanguage() {
            var Language = liff.getLanguage();
            alert(Language);
        }

        function liff_getVersion() {
            var Version = liff.getVersion();
            alert(Version);
        }

        function liff_getLineVersion() {
            var LineVersion = liff.getLineVersion();
            alert(LineVersion);
        }

        function liff_isInClient() {
            var InClient = liff.isInClient();
            if (InClient != true) {
                alert("未使用LIFF瀏覽器");
            } else {
                alert("已使用LIFF瀏覽器");
            }
        }

        function liff_isLoggedIn() {
            var isLoggedIn = liff.isLoggedIn();
            if (isLoggedIn != true) {
                alert("未登入LINE");
            } else {
                alert("已登入LINE");
            }
        }

        function liff_login() {
            liff.login({
                redirectUri: "https://maso-personal.herokuapp.com/"
            });
        }

        function liff_logout() {
            liff.logout();
        }

        function liff_getAccessToken() {
            var accessToken = liff.getAccessToken();
            alert(accessToken);
        }

        function liff_getIDToken() {
            var IDToken = liff.getIDToken();
            alert(IDToken);
        }

        function liff_getDecodedIDToken() {
            var DecodedIDToken = JSON.stringify(liff.getDecodedIDToken());
            alert(DecodedIDToken);
        }

        function liff_getContext() {
            var Context = JSON.stringify(liff.getContext());
            alert(Context);
        }

        function liff_getProfile() {
            liff.getProfile()
            .then(profile => {
              alert(JSON.stringify(profile));
            })
            .catch((err) => {
              console.log('error', err);
            });
        }

        function liff_getFriendship() {
            var Friendship = liff.getFriendship();
            alert(Friendship);
        }

        function liff_sendMessages() {
            var message = {
                "type": "text",
                "text": "LIFF傳送訊息",
            };
            liff.sendMessages(message)
            alert('LIFF傳送訊息')
        }

        function liff_openWindow() {
            liff.openWindow({
                url: "https://developers.line.biz/en/reference/liff/",
            });
        }

        function liff_closeWindow() {
            liff.closeWindow()
        }

        function liff_shareTargetPicker() {
            liff.shareTargetPicker([{
                "type": "image",
                "originalContentUrl": "https://pic.pimg.tw/saryh777/1641637885-2419307650-g_n.png",
                "previewImageUrl": "https://pic.pimg.tw/saryh777/1641637885-2419307650-g_n.png"
            }], {
                isMultiple: true,
            })
        }

        function liff_isApiAvailable() {
            var apiName = 'shareTargetPicker'
            var isApiAvailable = liff.isApiAvailable(apiName);
            if (isApiAvailable != true) {
                alert('無法使用' + apiName + ' API')
            } else {
                alert('可以使用' + apiName + ' API')
            }
        }
    </script>
    <style>
        h1{
            width:80%;
            height:40px;
            margin-left:10%;
        }
        button{
            width:80%;
            height:40px;
            margin-left:10%;
            background-color:#C9E8E3;
            font-weight:600;
        }
    </style>
</head>

<body>
    <h1>Maso的萬事屋LIFF API測試範例：</h1>
    <h1></h1>
    <button onclick="liff_getOS()">顯示使用者作業系統</button><br><br>
    <button onclick="liff_getLanguage()">顯示使用者語言</button><br><br>
    <button onclick="liff_getVersion()">顯示LIFF SDK版本</button><br><br>
    <button onclick="liff_getLineVersion()">顯示LINE版本</button><br><br>
    <button onclick="liff_isInClient()">顯示是否在LIFF瀏覽器內</button><br><br>
    <button onclick="liff_isLoggedIn()">顯示是否登入LINE</button><br><br>
    <button onclick="liff_login()">登入LINE</button><br><br>
    <button onclick="liff_logout()">登出LINE</button><br><br>
    <button onclick="liff_isApiAvailable()">顯示是否此網頁可用liff.shareTargetPicker() API</button><br><br>
    <button onclick="liff_getAccessToken()">獲得用戶accessToken</button><br><br>
    <button onclick="liff_getIDToken()">獲得用戶IDToken</button><br><br>
    <button onclick="liff_getDecodedIDToken()">獲得用戶DecodedIDToken</button><br><br>
    <button onclick="liff_getContext()">獲得啟動LIFF網頁來源的背景資訊</button><br><br>
    <button onclick="liff_getProfile()">獲得使用者資訊</button><br><br>
    <button onclick="liff_sendMessages()">傳送訊息</button><br><br>
    <button onclick="liff_openWindow()">開啟新視窗</button><br><br>
    <button onclick="liff_closeWindow()">關閉新視窗</button><br><br>
    <button onclick="liff_shareTargetPicker()">分享指定訊息</button>

</body>

</html>