<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maso的萬事屋LINEBOT範例</title>
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
    <script>
        //==========================LIFF API初始化================================
        $(document).ready(function() {
            liff.init({liffId:'1657051799-oEqeJl0a'});
        });
        //==========================LIFF API初始化================================

        function liff_getOS() {
            var OS = liff.getOS();
            alert(OS);
        }

        function liff_getLanguage() {
            var Language = liff.getLanguage();
            alert(Language);
        }

        function liff_getVersion() {
            var Version = liff.getVersion();
            alert(Version);
        }

        function liff_getLineVersion() {
            var LineVersion = liff.getLineVersion();
            alert(LineVersion);
        }

        function liff_isInClient() {
            var InClient = liff.isInClient();
            if (InClient != true) {
                alert("未使用LIFF瀏覽器");
            } else {
                alert("已使用LIFF瀏覽器");
            }
        }

        function liff_isLoggedIn() {
            var isLoggedIn = liff.isLoggedIn();
            if (isLoggedIn != true) {
                alert("未登入LINE");
            } else {
                alert("已登入LINE");
            }
        }

        function liff_login() {
            liff.login({
                redirectUri: "https://maso-personal.herokuapp.com/"
            });
        }

        function liff_logout() {
            liff.logout();
        }

        function liff_getAccessToken() {
            var accessToken = liff.getAccessToken();
            alert(accessToken);
        }

        function liff_getIDToken() {
            var IDToken = liff.getIDToken();
            alert(IDToken);
        }

        function liff_getDecodedIDToken() {
            var DecodedIDToken = JSON.stringify(liff.getDecodedIDToken());
            alert(DecodedIDToken);
        }

        function liff_getContext() {
            var Context = JSON.stringify(liff.getContext());
            alert(Context);
        }

        function liff_getProfile() {
            liff.getProfile()
            .then(profile => {
              alert(JSON.stringify(profile));
            })
            .catch((err) => {
              console.log('error', err);
            });
        }

        function liff_getFriendship() {
            var Friendship = liff.getFriendship();
            alert(Friendship);
        }

        function liff_sendMessages() {
            liff.sendMessages([
                {
                  type: "text",
                  text: "這一則訊息是來自LIFF網頁",
                },
            ]);
            alert('LIFF傳送訊息')
        }

        function liff_openWindow() {
            // window.location.replace("https://developers.line.biz/en/reference/liff/")
            liff.openWindow({
                url: "https://developers.line.biz/en/reference/liff/",
                external:true
            });
        }

        function liff_closeWindow() {
            liff.closeWindow()
        }

        function liff_shareTargetPicker() {
            liff.shareTargetPicker([{
                "type": "image",
                "originalContentUrl": "https://pic.pimg.tw/saryh777/1641637885-2419307650-g_n.png",
                "previewImageUrl": "https://pic.pimg.tw/saryh777/1641637885-2419307650-g_n.png"
            }], {
                isMultiple: true,
            })
        }

        function liff_LINE_Card() {
            liff.shareTargetPicker([{
                "type": "flex",
                "altText": "Maso的LINE名片",
                "contents": {
                    "type": "bubble",
                    "hero": {
                      "type": "image",
                      "url": "https://scdn.line-apps.com/n/channel_devcenter/img/fx/01_1_cafe.png",
                      "size": "full",
                      "aspectRatio": "20:13",
                      "aspectMode": "cover",
                      "action": {
                        "type": "uri",
                        "uri": "http://linecorp.com/"
                      }
                    },
                    "body": {
                      "type": "box",
                      "layout": "vertical",
                      "contents": [
                        {
                          "type": "text",
                          "text": "Brown Cafe",
                          "weight": "bold",
                          "size": "xl"
                        },
                        {
                          "type": "box",
                          "layout": "baseline",
                          "margin": "md",
                          "contents": [
                            {
                              "type": "icon",
                              "size": "sm",
                              "url": "https://scdn.line-apps.com/n/channel_devcenter/img/fx/review_gold_star_28.png"
                            },
                            {
                              "type": "icon",
                              "size": "sm",
                              "url": "https://scdn.line-apps.com/n/channel_devcenter/img/fx/review_gold_star_28.png"
                            },
                            {
                              "type": "icon",
                              "size": "sm",
                              "url": "https://scdn.line-apps.com/n/channel_devcenter/img/fx/review_gold_star_28.png"
                            },
                            {
                              "type": "icon",
                              "size": "sm",
                              "url": "https://scdn.line-apps.com/n/channel_devcenter/img/fx/review_gold_star_28.png"
                            },
                            {
                              "type": "icon",
                              "size": "sm",
                              "url": "https://scdn.line-apps.com/n/channel_devcenter/img/fx/review_gray_star_28.png"
                            },
                            {
                              "type": "text",
                              "text": "4.0",
                              "size": "sm",
                              "color": "#999999",
                              "margin": "md",
                              "flex": 0
                            }
                          ]
                        },
                        {
                          "type": "box",
                          "layout": "vertical",
                          "margin": "lg",
                          "spacing": "sm",
                          "contents": [
                            {
                              "type": "box",
                              "layout": "baseline",
                              "spacing": "sm",
                              "contents": [
                                {
                                  "type": "text",
                                  "text": "Place",
                                  "color": "#aaaaaa",
                                  "size": "sm",
                                  "flex": 1
                                },
                                {
                                  "type": "text",
                                  "text": "Miraina Tower, 4-1-6 Shinjuku, Tokyo",
                                  "wrap": true,
                                  "color": "#666666",
                                  "size": "sm",
                                  "flex": 5
                                }
                              ]
                            },
                            {
                              "type": "box",
                              "layout": "baseline",
                              "spacing": "sm",
                              "contents": [
                                {
                                  "type": "text",
                                  "text": "Time",
                                  "color": "#aaaaaa",
                                  "size": "sm",
                                  "flex": 1
                                },
                                {
                                  "type": "text",
                                  "text": "10:00 - 23:00",
                                  "wrap": true,
                                  "color": "#666666",
                                  "size": "sm",
                                  "flex": 5
                                }
                              ]
                            }
                          ]
                        }
                      ]
                    },
                    "footer": {
                      "type": "box",
                      "layout": "vertical",
                      "spacing": "sm",
                      "contents": [
                        {
                          "type": "button",
                          "style": "link",
                          "height": "sm",
                          "action": {
                            "type": "uri",
                            "label": "CALL",
                            "uri": "https://linecorp.com"
                          }
                        },
                        {
                          "type": "button",
                          "style": "link",
                          "height": "sm",
                          "action": {
                            "type": "uri",
                            "label": "WEBSITE",
                            "uri": "https://linecorp.com"
                          }
                        },
                        {
                          "type": "box",
                          "layout": "vertical",
                          "contents": [],
                          "margin": "sm"
                        }
                      ],
                      "flex": 0
                    }
                  }
              }], {
                isMultiple: true,
            })
        }


        function liff_isApiAvailable() {
            var apiName = 'shareTargetPicker'
            var isApiAvailable = liff.isApiAvailable(apiName);
            if (isApiAvailable != true) {
                alert('無法使用' + apiName + ' API')
            } else {
                alert('可以使用' + apiName + ' API')
            }
        }
    </script>
    <style>
        h1{
            width:80%;
            height:40px;
            margin-left:10%;
        }
        button{
            width:80%;
            height:40px;
            margin-left:10%;
            background-color:#C9E8E3;
            font-weight:600;
        }
    </style>
</head>

<body>
    <h1>Maso的萬事屋</h1><h1>LIFF API測試範例：</h1>
    <h1></h1>
    <button onclick="liff_getOS()">顯示使用者作業系統</button><br><br>
    <button onclick="liff_getLanguage()">顯示使用者語言</button><br><br>
    <button onclick="liff_getVersion()">顯示LIFF SDK版本</button><br><br>
    <button onclick="liff_getLineVersion()">顯示LINE版本</button><br><br>
    <button onclick="liff_isInClient()">顯示是否在LIFF瀏覽器內</button><br><br>
    <button onclick="liff_isLoggedIn()">顯示是否登入LINE</button><br><br>
    <button onclick="liff_login()">登入LINE</button><br><br>
    <button onclick="liff_logout()">登出LINE</button><br><br>
    <button onclick="liff_isApiAvailable()">顯示是否此網頁可用liff.shareTargetPicker() API</button><br><br>
    <button onclick="liff_getAccessToken()">獲得用戶accessToken</button><br><br>
    <button onclick="liff_getIDToken()">獲得用戶IDToken</button><br><br>
    <button onclick="liff_getDecodedIDToken()">獲得用戶DecodedIDToken</button><br><br>
    <button onclick="liff_getContext()">獲得啟動LIFF網頁來源的背景資訊</button><br><br>
    <button onclick="liff_getProfile()">獲得使用者資訊</button><br><br>
    <button onclick="liff_sendMessages()">傳送訊息</button><br><br>
    <button onclick="liff_openWindow()">開啟新視窗</button><br><br>
    <button onclick="liff_closeWindow()">關閉新視窗</button><br><br>
    <button onclick="liff_shareTargetPicker()">分享指定訊息</button><br><br>
    <button onclick="liff_LINE_Card()">傳送LINE名片</button><br><br>
    <br><br>

</body>
</html>